* {
    color: rgb(0, 0, 0);
}

/* todo */
.Todotask {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.TodoText {
    margin: 5px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
}

.TodoBtn {
    border: 2px solid gray;
    background: none;
    border-radius: 10px;
}